body.theme-dark {
  --bold-color: #999FFF;
  --italic-color: #99CCFF;
}

body.theme-light {
  --bold-color: #000000;
  --italic-color: #CC6600;
 
}

.cm-strong, strong {
    font-weight: 650;
}

.cm-em, em {
font-weight: 500;
}

body.theme-dark .cm-em.cm-strong {
    font-weight: 700 !important;
    color: #99FFCC !important;
}

body.theme-light .cm-em.cm-strong {
    font-weight: 700 !important;
    color: #0000CC !important;
}

body{
  --h1-variant: small-caps;
  --h2-variant: small-caps;
  --h3-variant: small-caps;
  --h4-variant: small-caps;
  --h5-variant:small-caps;
  --h6-variant: small-caps;
}
